body {
    background-color: #006A7A;
    font-family: 'Caveat', cursive;
}

#container {
    background-color: #F55381;
    width: 900px;
    margin: 20px auto; 
    border-radius: 20px;
    box-shadow: 5px 5px 10px #0000;

}

header{
    padding-top: 20px 0;
    background-color: #C3F3D4;
    border-radius: 20px 20px 0 0;
}

header img {
    display: block;
    width: 35%;
    margin: 0 auto;
}

header h1 {
    font-size: 3em;
    text-align: center;
    color: #F55381;
    font-family: 'Indie Flower', cursive;
    text-shadow: 2px 2px 2px #0000;
}

nav {
    background-color: #F55381;
    padding-top: 10px;
    text-align: center;
}

nav a {
    display: inline-block;
    background-color: #C3F3D4;
    height: 40px;
    width: 175px;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 40px;
    color: #006A7A;
    text-decoration: none;
    border-radius: 20px 20px 0 0;
    margin: 0 15px;
}

nav a:hover {
    background-color: #006A7A;
    color: #C3F3D4;
}

main {
    background-color: #C3F3D4;
    padding: 20px;
    margin: 0 20px 20px 20px;
}

main h2 {
    text-align: center;
    color: #006A7A;
    font-size: 2em;
    font-family: 'Indie Flower', cursive;
    text-shadow: 2px 2px 2px #0000;
}

main img {
    display: block;
    width: 50%;
    margin: 20px auto;
    background-color: #006A7A;
    padding: 20px;
    border-radius: 20px;
}

footer {
    background-color: #C3F3D4;
    padding: 50px 0;
    color: #F55381;
    font-size: 1.5em;
    text-align: center;
    border-radius: 0 0 20px 20px;
}

.active {
    background-color: #006A7A;
    color: #C3F3D4;
}

.pro_head {
    text-align: center;
    color: #F55381;
    font-size: 1.5em;
    font-family: 'Indie Flower', cursive;
    text-shadow: 2px 2px 2px #0000;
}

